{
  "env": {
        	"browser": true,
          "node": true
    	},
		"globals": {
			"Vue" : false,
			"require" : false,
      "axios" : false
		},
	  "extends": ["standard", "clockwork"],
    "parser": "babel-eslint",
		"parserOptions": {
        	"sourceType": "module",
          "ecmaVersion": 6
    	},
    "plugins": ["html", "vue"],
    "rules": {
      "vue/jsx-uses-vars": 2,
      "no-console": 0
    }
}



